/// Ширина элемента с уменьшением offset-grid
/// @name col
/// @group col
/// @arg {number} $n - количество колонок от 1 до $columns
@mixin col($n) {
  $val: 100% / $columns * $n;
  width: calc($val - $offset-grid * 2);
}
/// Ширина элемента с уменьшением offset-grid
/// @name col-xs
/// @group col
/// @arg {number} $n - количество колонок от 1 до $columns
@mixin col-xs($n) {
  $val: 100% / $columns * $n;
  @include xs(width, calc($val - $offset-grid * 2))
}
/// Ширина элемента с уменьшением offset-grid
/// @name col-md
/// @group col
/// @arg {number} $n - количество колонок от 1 до $columns
@mixin col-md($n) {
  $val: 100% / $columns * $n;
  @include md(width, calc($val - $offset-grid * 2))
}
/// Ширина элемента с уменьшением offset-grid
/// @name col-sm
/// @group col
/// @arg {number} $n - количество колонок от 1 до $columns
@mixin col-sm($n) {
  $val: 100% / $columns * $n;
  @include sm(width, calc($val - $offset-grid * 2))
}
/// Ширина элемента с уменьшением offset-grid
/// @name col-lg
/// @group col
/// @arg {number} $n - количество колонок от 1 до $columns
@mixin col-lg($n) {
  $val: 100% / $columns * $n;
  @include lg(width, calc($val - $offset-grid * 2))
}